
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  color: var(--text-color);
  list-style: none;
}
:root{
  --bg-color:hsl(260, 50%, 20%);
  --second-bg-color:hsl(250, 40%, 25%);
  --main-color:hsl(300, 100%, 55%);
  --text-color:hsl(0, 0%, 93%);
}
body{
  background-color:var(--bg-color);
}
header{
  min-width: 100vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  text-align: center;
  color:var(--main-color);
  margin: 0;
  top: 0;
  left: 0;
  cursor:pointer;
  position: fixed;
  z-index: 100;
  background-color: var(--second-bg-color);
}
header h1{
  color: var(--main-color);
  font-size: 3rem;
}
header i{
  color: var(--text-color);
  font-size: 2rem;
  float:right;
  padding: 0 10px 0 10px;
}
section{
  min-height: 100vh;
  min-width: 100vw;
}
.landingpage{
  background-image:url("../DeFi image/IMG_36961.png");
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 auto;
  margin: 0 auto;
  background-color:var(--bg-color);
  padding-top: 10%;
}
.h1lp{
  text-align: center;
  align-items: center;
  font-size: 4rem;
  padding-top: 20%;
  color: var(--main-color);
}
#menu{
  display: inline-block;
  text-align:left;
  align-items:left;
  background-color: hsl(0, 0%, 20%);
  color: var(--text-color);
  min-height: 100vh;
  width: 100%;
  font-size:30px;
  padding-top: 20%;
  padding-right: 5%;
}
#searchBox {
  padding: 10px;
  font-size: 16px;
  border: 1px solid hsl(300, 100%, 55%);
  border-radius: 5px;
  outline: none;
  text-align: center;
  align-items: center;
  width:100%;
}
#searchResults {
  padding-left: 5%;
  list-style: none;
  padding: 0;
  width: 100%;
}
#searchResults li {
  padding-left: 5%;
  color: white;
  margin-top: 5px;
}
#searchResults li.hide {
  display: none;
}
ul h3 {
  padding: 5% 0% 5% 0%;
  margin: 0 auto;
  color:var(--main-color);
  border: none;
}
.footer1{
  padding-top: 8%;
  margin-left: 2%;
}
.footer1 h1{
  color: var(--main-color);
}
.footer-icons a i{
  padding-right: 10%;
  margin-bottom: 5%;
  color: var(--main-color);
}
.footer1 p{
  font-size: 20px;
  margin-bottom: 5%;
}
#circleuser{
  min-height: 100vh;
  padding: 5%;
  display:inline-block;
  width: 100%;
}
#circleuser h1{
  
}